<div class="container">
  <div class="row align-items-center">
    <div class="col-6">
      <div class="input-group m-3">
        <input
          type="text"
          class="form-control"
          placeholder="Rechercher un utilisateur"
          aria-label="Rechercher un utilisateur"
          aria-describedby="button-addon2"
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          id="button-addon2"
        >
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
    <div class="col-6">
      <!-- icon badge notif -->
      <div class="d-flex justify-content-end m-3">
        <div class="position-relative">
          <i class="fas fa-bell fa-2x"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            9+
            <span class="visually-hidden">unread messages</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
