<div mat-dialog-title>
  <h1>{{ data.photo }}</h1>
</div>
<div mat-dialog-content>
  <img [src]="['assets/img/mouton.jpeg']" alt="{{ data.nom }}" class="img-fluid rounded mb-3">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div class="d-flex">
      <p class="mx-3"><strong>Sexe :</strong> {{ data.sexe }}</p>
      <p class="mx-3"><strong>Geniteur :</strong> {{ data.nomPere }}</p>
      <p class="mx-3"><strong>Genitrice :</strong> {{ data.nomMere }}</p>
      <p class="mx-3"><strong>Poids :</strong> {{ data.poids }}</p>
    </div>
    <div class="d-flex align-items-center">
      <span class="badge badge-primary">{{ data.race_id }}</span>
    </div>
  </div>
  <h6>Description</h6>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Fermer</button>
</div>

