<div class="container-fluid text-center bg-dark py-3">
  <div class="row">
    <div class="col-12">
      <footer class="footer">
        <div class="footer__content">
          <div class="footer__content__left">
            <p class="footer__content__left__text text-white">
              &copy; 2024 GuetGui. All rights reserved.
            </p>
          </div>
          <div class="footer__content__right">
            <p class="footer__content__right__text text-white">
              Made with <i class="fas fa-heart"></i> by
              <a href=" https://www.linkedin.com/in/ibrahima-diallo-1b1b3b1b3/"
                >Tech Titan Edacy</a>
            </p>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
