<div class="container-fluid p-0">
  <div class="row">
    <div class="col-md-6 text-container px-5">
      <h1 class="h2">Lorem ipsum dolor sit ame,</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
      <!-- Icons and text -->
      <div class="d-flex justify-content-between">
        <div class="text-center">
          <i class="fas fa-sheep fa-2x"></i>
          <p>Lorem ipsum</p>
        </div>
        <div class="text-center">
          <i class="fas fa-sheep fa-2x"></i>
          <p>Lorem ipsum</p>
        </div>
        <div class="text-center">
          <i class="fas fa-sheep fa-2x"></i>
          <p>Lorem ipsum</p>
        </div>
        <div class="text-center">
          <i class="fas fa-sheep fa-2x"></i>
          <p>Lorem ipsum</p>
        </div>
      </div>
      <div class="button-container mt-3">
        <button class="custom-btn" [routerLink]="['/login']">Nous Rejoindre</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="quarter-circle"></div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; 2024 - Tous droits réservés</p>
      </div>
      <div class="col-md-6 text-end d-flex justify-content-evenly">
        <p><i class="fas fa-envelope"></i> E-mail: {{email}}</p>
        <p><i class="fas fa-phone"></i> 00 221 77 777 77 77</p>
      </div>
    </div>
  </div>
</footer>
